.containergral {
    display: flex;

    flex-wrap: wrap;


    align-items: center;
    justify-content: center;

    margin: 100px;


}

#OrangeSquare {
    position: relative;

    width: 307px;
    height: 500px;

    background-color: #E28525;
    border-radius: 8px 0px 0px 8px;


}

#img-sedans {
    position: absolute;
    width: 100%;
    height: 100%;


    background-image: url(IMGS/icon-sedans.svg);
    background-position: 48px 48px;
    background-repeat: no-repeat;
}

#LightBlueSquare {

    position: relative;

    width: 307px;
    height: 500px;

    background-color: #016972;
    border-radius: 0px;

}

#img-suvs {
    position: absolute;
    width: 100%;
    height: 100%;


    background-image: url(IMGS/icon-suvs.svg);
    background-position: 48px 48px;
    background-repeat: no-repeat;
}


#DeepBlueSquare {

    position: relative;

    width: 307px;
    height: 500px;

    background-color: #00403F;
    border-radius: 0px 8px 8px 0px;

}

#img-luxury {
    position: absolute;
    width: 100%;
    height: 100%;


    background-image: url(IMGS/icon-luxury.svg);
    background-position: 48px 48px;
    background-repeat: no-repeat;
}




h1 {

    position: absolute;
    left: 48px;
    top: 120px;

    font-family: Antonio;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;


    color: #FFFFFF;
}

p {

    position: absolute;
    left: 48px;
    right: 50px;
    top: 199px;

    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;


    color: #FFFFFF;

}

button {
    position: absolute;
    left: 48px;
    top: 404px;

    width: 146px;
    height: 48px;

    cursor: pointer;

    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;



    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: inherit;

}


@media (max-width: 600px) {
    #OrangeSquare {

        height: 441px;

        border-radius: 8px 8px 0px 0px;

    }

    #DeepBlueSquare {
        height: 441px;

        border-radius: 0px 0px 8px 8px;
    }

    #LightBlueSquare {

        height: 441px;
        border-radius: 0px;

    }

    button {
        top: 346px;

        color: inherit;

        background-color: #FFFFFF;
    }

    h1 {
        top: 90px;
    }

    p {
        top: 179px;
    }



}
